<table class="table table-striped match-table">
    <thead>
        <tr>
            <th>Дата и время</th>
            <th>Домашняя команда</th>
            <th>Гостевая команда</th>
            <th>Счет</th>
            <th>Тип матча</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
        <tr>
            <td>{{ match[1] }}</td>
            <td>{{ match[2] }}</td>
            <td>{{ match[3] }}</td>
            <td>{{ match[4] }} : {{ match[5] }}</td>
            <td>{{ match[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>